﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Ukraine International Airlines</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/sb-admin.css")
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/dataTables.bootstrap4.css")
</head>

<body>
        <div class="container">

            @RenderBody()
        </div>


    <footer class="sticky-footer" style="width:100% !important">
        <div class="container">
            <div class="text-center">
                <small>Copyright © UIA Flight Booking System 2017</small>
            </div>
        </div>
    </footer>


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/sb-admin.min.js" type="text/javascript"></script>
</body>
</html>
