﻿@{
    ViewBag.Title = "Booking";
}


<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Flight Booking</li>
        </ol>
        <!-- Area Chart Example-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-area-chart"></i> Flight Booking HOT Period
            </div>
            <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="14"></canvas>
            </div>
            <div class="card-footer small text-muted">Updated today</div>
        </div>

        <br />
        <h4>BOOK YOUR FLIGHT!</h4>

        @using (Html.BeginForm("Flight_Booking", "FlightBooking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">

                        <label>Origin:</label>
                        @Html.TextBox("origin", null, new { @class = "form-control", @placeholder = "Enter origin" })
                    </div>
                    <div class="col-md-6">
                        <label>Destination:</label>
                        @Html.TextBox("destination", null, new { @class = "form-control", @placeholder = "Enter destination" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        
                        <label>Date:</label>
                        @Html.TextBox("date", null, new { @class = "form-control", @type = "datetime-local" })
                    </div>
                    <div class="col-md-3">
                        <label>Flight:</label>

                        <select class="form-control" name="flightname" id="flightname">
                            <option>AirAsia</option>
                            <option>Malindo</option>
                            <option>MAS</option>
                        </select>
                     
                    </div>
                    <div class="col-md-3">
                        <label>Select Flight Class:</label>

                        <select class="form-control" name="flightClass" id="flightClass" onchange="changeFlightClass()">
                            <option>Economic Class</option>
                            <option>Business Class</option>
                            <option>First Class</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Price:</label>
                        @Html.TextBox("price", null, new { @id = "price", @class = "form-control", @disabled = "disabled" })
                    </div>
                </div>
            </div>

            
            <br />
            <br />

            <input style="height: 40px;" type="submit" class="btn btn-primary btn-block" value="Book the Flight">
            <br />
            }

    </div>
</div>
@Html.Raw(TempData["success"])

<script>
    
    function changeFlightClass() {
        var x = document.getElementById("flightClass");
        document.getElementById("price").value = (x.selectedIndex +2) * 130;
    }
</script>
