﻿@using DDACAssignment.Models;
@{
    ViewBag.Title = "History";
}

<div class="content-wrapper">
    <div class="container-fluid" style="padding-left: 6px;">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Flight Booking History</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Flight ID</th>
                                <th>Flight Name</th>
                                <th>Date Booking</th>
                                <th>Date Flight</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Flight Class</th>
                                <th>Price (RM)</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Flight ID</th>
                                <th>Flight Name</th>
                                <th>Date Booking</th>
                                <th>Date Flight</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Flight Class</th>
                                <th>Price (RM)</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (FlightBookingHistory fbh in ViewBag.Histories)
                            {
                            <tr>
                                <td>@fbh.fhid</td>
                                <td>@fbh.fname</td>
                                <td>@fbh.dataBooking</td>
                                <td>@fbh.dataFlight</td>
                                <td>@fbh.origin</td>
                                <td>@fbh.destination</td>
                                <td>@fbh.fclass</td>
                                <td>@fbh.price</td>
                                <td>@fbh.status</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>