﻿@{
    ViewBag.Title = "Home Page";
}


<div class="content-wrapper" style="background-color:transparent;">
    <div class="container-fluid" >

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Flight Booking</li>
        </ol>

        
        <div class="h2">Welcome!

            <img src='@Url.Content("~/Content/Images/hello.png")' height="40px" style="margin-left: 20px;" />
        </div>
        <br />
        
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-4 mb-3">
                <div class="card text-white bg-success o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-shopping-cart"></i>
                        </div>
                        <div class="mr-5">BOOK Your Flight NOW!!!</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "FlightBooking", null)">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-4 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">View Flight Schedule</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "FlightSchedule", null)">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-4 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-list"></i>
                        </div>
                        <div class="mr-5">Booking History</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "FlightHistory", null)">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

