﻿@using DDACAssignment.Models;
@{
    ViewBag.Title = "Schedule";
}


<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Flight Schedule</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Flight ID</th>
                                <th>Flight Name</th>
                                <th>Date</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Flight ID</th>
                                <th>Flight Name</th>
                                <th>Date</th>
                                <th>Origin</th>
                                <th>Destination</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (FlightSchedule fbh in ViewBag.Schedules)
                            {
                                <tr>
                                    <td>@fbh.fsid</td>
                                    <td>@fbh.fname</td>
                                    <td>@fbh.date</td>
                                    <td>@fbh.origin</td>
                                    <td>@fbh.destination</td>
                                    <td>@fbh.status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
