﻿@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Login";
}


<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
@using (Html.BeginForm("Login_User", "Login"))
{
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                @Html.TextBox("email", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                @Html.TextBox("password", null, new { @type="password", @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember Password
                    </label>
                </div>
            </div>

            <input type="submit" class="btn btn-success btn-block" value="Login">
}
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.Action("Index", "Register", null)">Register an Account</a>
        </div>
    </div>
</div>

@Html.Raw(TempData["loginFailed"])
