﻿
@{

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Register";
}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account</div>
    <div class="card-body">
        @using (Html.BeginForm("Register_User", "Register")) {
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputName">First name: </label>

                        @Html.TextBox("fname", null, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputLastName">Last name: </label>
                        @Html.TextBox("lname", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputContactNum1">Contact: </label>
                @Html.TextBox("contactNum", null, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                @Html.TextBox("email", null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Password</label>
                        @Html.TextBox("password", null, new { @class = "form-control" , @type = "password" })
                    </div>
                    <div class="col-md-6">
                        <label for="exampleConfirmPassword">Confirm password</label>
                        @Html.TextBox("password2", null, new { @class = "form-control", @type = "password" })
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Register">
        }
        <div class="text-center">
            <a class="d-block small mt-3" href="@Url.Action("Index", "Login", null)">Login Page</a>
        </div>
    </div>
</div>

@Html.Raw(TempData["regisSuccess"])
